html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Courier;
	font-size: 12px;
	width: 100%;
	color: #000000;
	text-align: center;
	background-color: #DDDDDD;
}
/* divs */
#divMain {
	width: 99.5%;
	height: 100%;
	margin: 5px;
	padding: 0;
	border: 1px solid transparent;
	float: left;
	text-align: left;
	background-color: transparent;
	font-size: 0.8rem;
}
#divFiltro {
	width: 99.0%;
	margin: 0.1rem;
	padding: 0;
	float: left;
	border: 1px solid transparent;
}
#divContent1 {
	width: 99.0%;
	float: left;
	border: 1px solid transparent;
	background-color: #DDDDDD;
}
#divContent2 {
	width: 99.0%;
	float: left;
	border: 1px solid transparent;
	background-color: #DDDDDD;
}

/* forms */
input[type="text"] {
	margin: 0.2rem 0 0 0;
	padding: 0;
	border: 1px solid black;
	color: black;
	height: 1rem;
	font-size: 0.8rem;
}
select {
	margin: 0.2rem 0 0 0;
	padding: 0;
	border: 1px solid black;
	color: black;
	height: 1.2rem;
	font-size: 0.8rem;
}
input[type="password"] {
	margin: 0.2rem 0 0 0;
	padding: 0;
	border: 1px solid black;
	color: black;
	height: 1rem;
	font-size: 0.8rem;
}
.btnAteste {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 0.1rem 1.35rem 0.1rem 1.35rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.8rem;
}
.btnAteste:hover {
	cursor: pointer;
}
/* tables */
table {
	margin: 0.2rem auto;
	padding: 0;
}
.tblFiltro {
	margin: 0.2rem auto;
	padding: 0;
}
.tblFiltro td {
	vertical-align: text-top;
}
.tblResult {
	margin: 0.2rem auto;
	border: 1px solid black;
}
.tblResult tr {
	margin: 0;
	padding: 0;
}
.tblResult th {
	margin: 0.1rem;
	padding: 0.1rem;
	border: 1px solid black;
	text-align: center;
	background-color: #b3b3b3;
}
.tblResult td {
	margin: 0.1rem;
	padding: 0.1rem 0.2rem 0.1rem 0.2rem;
	border: 1px solid black;
}
.tdResultTitle {
	background-color: #b3b3b3;
}
.tdResultAction {
	text-align: center;
	background-color: #4CAF50;
}
.tdResultAction:hover {
	cursor: pointer;
}
/* MENU */
.dropdown {
	border: 1px solid transparent;
	width: 7rem;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	/*box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);*/
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 8px 12px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropbtn {
	font-weight: bold;
	background-color: #b3b3b3;
	width: 7rem;
	height: 1.4rem;
	border: none;
}
.dropbtn:hover .dropdown-content {
	background-color: #CCCCCC;
}